html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    height: 100vh;
    margin: 0;
}


.jumbotron {
    padding: 1rem 2rem;
}

.table {
    font-size: .8em;
}

.choosen-icon {
    background-color: #43a3b8;
    color: white;
}

.btn-round {
    border-radius: 3rem;
    border: 2px solid;
    font-weight: 700;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.min-vh-25 {
    min-height: 25vh;
}

.min-vh-50 {
    min-height: 50vh;
}

.min-vh-100 {
    min-height: 100vh;
}

.custom-hr {
    border: 1px solid #58A847;
    width: 100px;
    margin: 3rem auto;
}

.cover-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-hvr-img-zoom {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.custom-hvr-img-zoom img {
    max-width: 100%;
    transition: all 0.3s ease-out;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.custom-hvr-img-zoom:hover img {
    transform: scale(1.04);
}

.location-modal-body {
    max-width: 640px;
    max-height: 650px;
}

input::placeholder,
textarea::placeholder,
select {
    font-size: 0.9rem;
    color: lightslategray!important;
}

.error {
    width: 100%;
}