
#main_card {
    position: relative;
    margin: 4rem 0;
}

#main_card_footer {
    position: absolute;
    width: 30%;
    min-height: 50%;
    top: 25%;
    left: -10%;
    border-right: 4px solid #78C2AD;
    border-top: 0;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
}

.division {
    text-align: center;
    margin: 4rem 0;
    position: relative;
}

.division::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 50%;
    width: 40%;
    border-top: 2px solid rgba(0,0,0,0.1);
}

.division::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 50%;
    width: 40%;
    border-top: 2px solid rgba(0,0,0,0.1);
}


@media only screen and (max-width: 768px) {
    #main_card_footer {
        width: inherit;
        position: relative;
        height: inherit;
        top: auto;
        left: auto;
        background-color: white;
        color: black;
    }

    .division::before {
        content: '';
        position: absolute;
        left: 0%;
        top: 50%;
        width: 30%;
        border-top: 2px solid rgba(0,0,0,0.1);
    }
    
    .division::after {
        content: '';
        position: absolute;
        right: 0%;
        top: 50%;
        width: 30%;
        border-top: 2px solid rgba(0,0,0,0.1);
    }
}