.carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgb(254,251,251);
    background: linear-gradient(180deg, rgba(254,251,251,0) 0%, rgba(11,11,11,0.38699229691876746) 100%);
}