

@media only screen and (max-width: 425px) {
    .questionnaire-card-body {
        text-align: center!important;
    }

    .questionnaire-card-footer {
        text-align: center!important;
        margin-top: 1.5rem;
    }
}
