.question {
    font-size: 2em;
}

.choice, .check {
    font-size: 1.3em;
}

.choice {
    text-align: center;
}
.choice:hover {
    cursor: pointer;
    color: rgb(61, 60, 60);
}

.selected {
    color: rgb(120, 194, 173)!important;
}




@media only screen and (max-width: 768px) {    

    .question {
        font-size: 1.8em;
    }

    .choice {
        font-size: 1.2;
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 425px) {

    .question {
        font-size: 1.6em;
    }

    .choice {
        font-size: 1.2;
    }

}