#blog-main-content-container {
    position: relative;
}

#blog-title {
    position: absolute;
    top: -10%;
    background-color: white;
}

#blog-body {
    margin-top: 25%;

    background-color: white;
    font-size: 1.2em;
    line-height: 1.8em;
}