html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    min-height: 100vh;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}


.questionnaire-navbar {
    font-size: .8em;
    min-height: 2vh;
    background-color: rgb(120, 194, 173);
    padding: 0;
}

.jumbotron {
    padding: 1rem 2rem;
}

.table {
    font-size: .8em;
}

.btn-round {
    border-radius: 3rem;
    border: 2px solid;
    font-weight: 700;
}

.custom-hr {
    border: 1px solid #78C2AD;
    width: 100px;
    margin: 3rem auto;
}

.min-vh-25 {
    min-height: 25vh;
}

.min-vh-50 {
    min-height: 50vh;
}

.min-vh-75 {
    min-height: 75vh;
}

.min-vh-100 {
    min-height: 100vh;
}
.cover-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.bg-black {
    background-color:#3c3d41
}

.nav-link-sm {
    font-size: .8em;
}

.nav-link-lg {
    font-size: 1.4em;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #78C2AD;
    border-color: #78C2AD;
}

.page-item.disabled .page-link {
    background-color: rgba(184, 184, 184, 0.178);
}

.page-link {
    background-color: rgb(255, 255, 255);
    color: rgb(117, 114, 114) ;
    border: .5px solid rgba(200, 200, 200, 0.644);
    padding: 0 1.2rem;
    font-size: .9em;
}

.page-link:hover {
    background-color: #78C2AD;
    border-color: #78C2AD;

}

.custom-hvr-img-zoom {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.custom-hvr-img-zoom img {
    transition: all 0.3s ease-out;
    transform: scale(1);
}

.custom-hvr-img-zoom:hover img {
    transform: scale(1.04);
}

.location-modal-body {
    max-width: 640px;
    max-height: 650px;
}


.dropdown {
    font-size: .8em;
    font-weight: 700;
}
.dropdown-menu {
    border: 1px solid rgb(120, 194, 173);
}
.dropdown-menu-center {
    left: 50% !important;
    top: 90%!important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 10%) !important;
}

.dropdown-item:hover {
    background-color: rgba(120, 194, 173, 0.616);;
}

.dropdown-item {
    font-weight: 700;
    font-size: .8em;
}


@media only screen and (max-width: 768px) {

    .custom-tablet-screen-p-font {
        font-size: .9em;
    }

    .custom-tablet-screen-heading-font {
        font-size: 1.8em;
    }

}

@media only screen and (max-width: 425px) {
    .questionnaire-navbar .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
    }
}
