.navbar{
    background-color:rgba(70, 68, 68, 0.102);
    border-bottom: 1px solid rgba(120, 194, 173, 0.425);
    min-height: 15vh;
}


.scrolled {
    background-color: rgba(120, 194, 173, 0.925) !important;
    min-height: 10vh;
    transition:  200ms linear;
}


#how_it_works,
#our_services, 
#our_team, 
#online_fitnes_advisor, 
#online_pharmacy, 
#our_team, 
#blogs,
#what_our_clients_say, 
#online_psychologist,
#statistics {
    padding: 6rem 0rem;
}

#header {
    position: relative;
}


#header_headline_container, #header_questionnaire_container {
    z-index: 3;
}



@media only screen and (max-width: 768px) {
    .navbar{
        background-color:rgba(60, 61, 65, 0.945);
        border-bottom: none;
        min-height: 5vh;
    }

    .scrolled {
        background-color: rgb(120, 194, 173) !important;
        min-height: 10vh;
        transition:  200ms linear;
    }
}

@media only screen and (max-width: 425px) {
    #header_headline_container {
        text-align: center;
    }
    #header_headline_container > h1 {
        margin-top: 6rem;
        font-size: 2.2em;
    }

    #header_questionnaire_container .fa-clipboard-list {
        font-size: 4.2em;
    }

    #how_it_works {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #our_services {
        padding-left: 1rem;
        padding-right: 1rem;
    }


}