#sponsors .sponsor-item {
    font-family: 'Pacifico', cursive;
}
.position-relative {
    position: relative;
}
#product_page_heading {
    position: relative;

}

#product_page_heading h3, #product_page_heading p {
    color: white;
}

#category_btn_container, #product_page_heading_container {
    z-index: 3;
}

#product_category_nav {
    padding-top: 4rem;
    position: absolute;
    min-height: 90vh;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.952);
    color: white;
    
    clip-path: circle(0px at 50% 41%);
    -webkit-clip-path: circle(0px at 50% 41%);
    transition: all 1s ease-out;

    z-index: 4;

}
.category-btn {
    z-index: 2;
}
#product_category_nav .category-btn {
    font-size: 1.3em;
    font-weight: bolder;
    position: absolute;
    top: 5%;
    right: 5%;
    /* transform:translate(-10%, 95%); */
}

#product_category_nav.open {
    clip-path: circle(100%);
    -webkit-clip-path: circle(100%);
}


/* .carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgb(254,251,251);
    background: linear-gradient(0deg, rgba(254,251,251,0) 0%, rgba(11,11,11,0.38699229691876746) 100%);
}
.carousel-item > .carousel-caption {
    position: absolute;
    top: 10%;
}

.carousel-item > .carousel-caption > .product-name {
    font-weight: bolder;
    color: white;
    font-size: 1.8em;
    letter-spacing: 3px;
}
.carousel-item > img {
    height: 350px;
} */

@media only screen and (max-width: 768px) {
    /* .card-header {
        background-color: none!important;
    } */
    
    /* .carousel-item > img {
        height: 250px;
    } */
}

@media only screen and (max-width: 425px) {
    /* .carousel-item > img {
        height: 200px;
    } */
}